@charset "UTF-8";


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: #212121;
}
#headerwrap{
	/* border: 2px solid red; */
	width: 1300px;
	margin: 0px auto;
	padding-top: 15px;
	height: 70px;
}

#headerwrap div{
	display: inline-block;
}

header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    color: #bebebe;
    width: 100%
}

#header_keyword{
	width: 300px;
    height: 35px;
    margin-left: 200px;
    margin-top: 10px;
	font-size: 15px;
}

#header_searchBtn{
	width:30px;
	height: 26px;
	cursor: pointer;
}

#header_logo{
    width: 20%;
    /* border: 5px solid skyblue; */
    float: left;
}

#header_logo>a{
	font-size: 30px;
	font-style: italic;
	font-weight: 600;
	color: gold;
	text-decoration: none;
}
.headerBtn{
	margin-left: 10px;
	margin-right: 10px;
	color: white;
    font-size: 20px;
    font-weight: bold;
	text-decoration: none;
}

.headerBtn:hover{
	color: blue;
}

#header_login{
    float: right;
    margin-right: 10px;
    position: relative;
    top: 20px;
}

.loginbtn{
	text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
}
.dropdown-menu{
	background-color: #212121;
	opacity: 0.85;
}
.dropdown-item{
    color: white;
    font-weight: 600;
}
.dropdown-toggle::after {
	content: none;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus{
	background-color: #212121;
	border-color: #212121;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: none;
    position: relative;
    bottom: 4.5px;
}

.btn:focus{
	box-shadow: none;
}
.btn-secondary:hover, .btn-secondary:focus{
	color: blue;

}