@charset "UTF-8";

/* 영화 정보 */
li{
	margin-top: 10px;
}

#movieview {
    border: 2px solid red;
    width: 1300px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    background-color: #212121;
    color: white;
    position: relative;
}
#movieinfotop2{
	position: absolute;
	top: 0px;
	left: 100px;
    list-style: none;
    text-align: left;
    margin-top: 50px;
}

.starRating{
	position: absolute;
	top: 225px;
	left: 125px;
}
#movieimg{
	width: 300px;
    margin-left: 700px;
}

#movieNm{
	font-size: 30px;
    font-weight: 600;
}



/* 카테고리 */
nav{
    border: 2px solid red;
    width: 1300px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #212121;
    color: white;
}
.category{
    margin: 0px 80px;
}
/* 카테고리 바*/
/* .category {
	position: relative;
	text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 10px;
    background-color: #212121;
	color : #808080;
    border: none;
    border-bottom: solid 3px #212121;	
} */

#accordion{
	/* position: relative; */
	
}
.category:hover {
	border-bottom: solid 3px #fd0000;
	color: white;
}
.accordion-button {
	width: 200px;
    background-color: #212121;
    color: white;
	}
.accordion-item{
	display: inline-block;
}

.accordion-button::after {	
	display: none;
}

.accordion-item:first-of-type .accordion-button {
	width: 200px;
    background-color: #212121;
    color: white;
	
	}
	
	
/* 별점 */
.starRating{
	display: block;
    width: 150px;
    margin: 0 auto;
}
.starR1{
    background: url('../image/star.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    cursor: pointer;
}
.starR2{
	background: url('../image/star.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left; /*이미지를 어떻게 띄워서 텍스트와 함께 배치할 것인가에 대한 속성*/
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}
