@charset "UTF-8";

/* 영화 정보 */
#movieview {
    border: 2px solid red;
    width: 1300px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #212121;
    color: white;
}
#movieinfotop2{
    list-style: none;
    text-align: center;
    margin-top: 50px;
}
#movieimg{
    margin-left: 200px;
}



/* 카테고리 */
nav{
    border: 2px solid red;
    width: 1300px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #212121;
    color: white;
}
.category{
    margin: 0px 80px;
}
/* 카테고리 바*/
.category {
	text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 10px;
    background-color: #212121;
	color : #808080;
    border: none;
    border-bottom: solid 3px #212121;	
}
.category:hover {
	border-bottom: solid 3px #fd0000;
	color: white;
}