@charset "UTF-8";

body{
	background-color: #212121;
}

/* 영화 정보 전체 */
#movieinfo{
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #212121;
    color: white;
}

p, span{
    font-size: medium;
    text-shadow: 3px 3px 3px black;
}
h3.title{
	font-size: 18px;
	margin-top: 20px;
	font-weight: 600;
	text-shadow: 3px 3px 3px black;
}


/* 줄거리, 영화 트레일러  */
#moviesummary{
    width: 60%;
}
#trailer{
	margin-top: 30px;
	width: 100%;
	height: 400px;
}
iframe{
	width: 100%;
	height: 100%;
}


/* 감독, 배우 전체 */
#directorNactor{
    width: 34%;
    margin: 10px 30px;
    
}
.person_pic{
	width: 100px;
	border-radius: 50%;
	box-shadow: 5px 5px 5px black;
}
.peopleNm{
	font-weight: 600;
	text-shadow: 3px 3px 3px black;
}

.imgY{
	text-align: center;
	height: 137px;
    width: 95px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.imgN{
	display: inline-block;
	cursor: pointer;
}
