@charset "UTF-8";

/* 영화 정보 */
*{
	color: white;
}

ul, li{
	list-style: none;
}
.info{
	margin-bottom: 10px;
	font-weight: 600;

}

#moviedetail {
  /*   border: 2px solid red; */
    width: 1300px;
    margin: 0px auto;
    background-color: #212121;
    color: white;
}
#movieinfotop{
	position: relative;
    left: 200px;
    width: 1000px;
	height: 350px;
    list-style: none;
    text-align: left;
}
.movieinfotop{
	display: inline-block;
}

ul.movieinfotop{
	position: relative;
    top: 65px;
}
#movieimg{
	margin-right: 20px;
	display: inline;
}
.poster{
	width:200px;
}
ul.movieinfotop{
}

#movieNm{
	font-size: x-large;
    font-weight: 600;
}

#star1{
	width: 24px;
    height: 24px;
    margin-bottom: 9px;
}

/* 별점 */
.starRating{
    width: 150px;
    margin: 0 auto;
}
.starR1{
    background: url('../img/star.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    cursor: pointer;
}
.starR2{
	background: url('../img/star.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left; /*이미지를 어떻게 띄워서 텍스트와 함께 배치할 것인가에 대한 속성*/
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}


/* tab */
.main {
 padding: 20px;
 font-family: roboto;
}
.tab-content {
    margin-top: 15px;
}
.nav-tabs>li {
}

.blank_li{
	width: 170px;
}

.nav>li>a {
 padding:5px;
}
.nav-tabs>li>a{
 line-height:2;
 color:white;
 text-decoration: none;
 border: none;
 font-weight:bold;
 font-size: 22px;
 text-shadow: 3px 3px 3px black;
 
}
.nav-tabs>li.active a{
 font-weight:bold;
 color: gold !important;
 background-color: #212121;
}
.nav-tabs>li.active a:hover{
 color: gold !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	text-decoration: none;
	background-color: #212121;
	border: 0px solid #212121;
	text-shadow: 3px 3px 3px black;
	
}


.nav>li>a:focus
, .nav>li>a:hover {
 text-decoration: none;
 background-color: #212121
}
.nav-tabs>li.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.25em;
    bottom: 0;
    background-color: #212121;
    border-bottom: 3px solid gold;
}

#tablelist {
    border-bottom: 0px solid #212121;
    justify-content: center;
}

h3{
	font-weight: 600;
}

.dropdown-toggle::after {
	content: none;
}

.dropdown>buttom{
	background-color: #212121;
}