@charset "UTF-8";

/* 영화 정보 */
#movieview {
    border: 2px solid red;
    width: 1300px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#movieinfo2{
    list-style: none;
    text-align: center;
    margin-top: 50px;
}
#movieimg{
    margin-left: 200px;
}



/* 카테고리 */
nav{
    border: 2px solid red;
    width: 1300px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.category{
    margin: 0px 80px;
}