@charset "UTF-8";

/* 영화 정보 */
*{
	background-color: #212121;
	color: white;
}

ul, li{
	list-style: none;
}
.info{
	margin-bottom: 10px;

}

#moviedetail {
  /*   border: 2px solid red; */
    width: 1300px;
    margin: 0px auto;
    background-color: #212121;
    color: white;
}
#movieinfotop{
	height: 100%;
    list-style: none;
    text-align: left;
    margin-top: 50px;
}
.movieinfotop{
	display: inline-block;
}

ul.movieinfotop{
	position: absolute;
}
#movieimg{
	margin-left: 150px;
	margin-right: 20px;
	display: inline;
}
#poster{
	width:200px;
}
ul.movieinfotop{
}

#movieNm{
	font-size: 30px;
    font-weight: 600;
}

#star1{
	width: 24px;
    height: 24px;
    margin-bottom: 9px;
}

/* 별점 */
.starRating{
    width: 150px;
    margin: 0 auto;
}
.starR1{
    background: url('../image/star.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    cursor: pointer;
}
.starR2{
	background: url('../image/star.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left; /*이미지를 어떻게 띄워서 텍스트와 함께 배치할 것인가에 대한 속성*/
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}


/* tab */
.main {
 padding: 20px;
 font-family: roboto;
}
.tab-content {
    margin-top: 15px;
}
.nav-tabs>li {
/*  margin-bottom: -4px;
 margin-left: 10px; */
}

.nav>li>a {
 padding:5px;
}
.nav-tabs>li>a{
 font-size:16px;
 line-height:2;
 color:white;
 text-decoration: none;
 border: none;
 font-weight:bold;
 margin-left: 130px;
 margin-bottom: 10px;
 font-size: 22px;
 
}
.nav-tabs>li.active a{
 font-weight:bold;
 color:blue !important;
 background-color: #212121;
}
.nav-tabs>li.active a:hover{
 color:blue !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	text-decoration: none;
	background-color: #212121;
	border: 0px solid #212121;
	
}

.nav-tabs>li>a:hover {
}

.nav>li>a:focus,
.nav>li>a:hover {
 text-decoration: none;
 background-color: #212121
}
.nav-tabs>li.active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.25em;
    bottom: 0;
    background-color: #212121;
}

#tablelist {
    border-bottom: 0px solid #212121;
}

h3{
	font-weight: 600;
}
/* 

아코디언
.accordion-button::after {
	display: none;
}

.accordion-header{
	width: 200px;
    color: white;
}

.accordion-item{
	background-color: #212121;
}

#accordionFlushExample{
	position: relative;
	margin-top: 15px;
}
#flush-headingOne{
	position: absolute;
	top: 10px;
	left: 120px;
}

#flush-headingTwo{
	position: absolute;
	top: 10px;
	left: 420px;
}

#flush-headingThree{
	position: absolute;
	top: 10px;
	left: 720px;
}
#flush-headingFour{
	position: absolute;
	top: 10px;
	left: 1020px;
}

#flush-collapseOne, #flush-collapseTwo, #flush-collapseThree, #flush-collapseFour {
	position: absolute;
	top: 70px;
}

button.accordion-button{
	background-color: #212121;
    color: white;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
}

#endPoint{
	position: relative;
}
 */