@charset "UTF-8";

#myBtn{
	color: blue;
}

#subtitle{
	margin: 0px auto;
	margin-top: 100px;
	margin-bottom: 30px;
	text-align: center;
	color: white;
}

section{
	background-color: #151515;
	width: 1300px;
	margin: 0px auto;
	margin-top: 80px;
}


