@charset "UTF-8";

div>ul>li{
	list-style: none;
}

#mycollection{
	border: 2px solid red;
	width: 1300px;
	margin: 0px auto;
	color: white;
}

#rate_statistics{
	border: 2px solid red;
	width: 1300px;
	margin: 0px auto;
	color: white;
}

#myreview{
	border: 2px solid red;
	width: 1300px;
	margin: 0px auto;
	color: white;
}

#user_info, #fav_actor, #fav_director, #fav_genre, #fav_nations{
	border: 2px solid red;
	width: 1300px;
	margin: 0px auto;
	color: white;
}

#user_info>div, #mycollection>div, #myreview>div, #fav_actor>div, #fav_director>div, #fav_genre>div, #fav_nations>div{
	border: 2px solid red;
    width: 1300px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #212121;
    color: white;
}