@charset "UTF-8";

#myBtn{
	color: blue;
}

#subtitle{
	margin-top: 100px;
	text-align: center;
	color: white;
}

#myreview{
	background-color: #151515;
	width: 1300px;
	margin: 0px auto;
	margin-top: 80px;
	color: white;
}


#contentslist{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	padding-left: 0;
	width: 100%;
}

#contents{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 40%;
	margin: 20px 0px;
}

#id, #date, .content, #like, #dislike, #report{
	border: 2px solid yellow;
}

#id{
	width: 70%;
	padding-left: 10px;
}

#date{
	width: 30%;
	text-align: right;
	padding-right: 10px;
}

.content{
	width: 100%;
	height: 200px;
	overflow-y: scroll;
	margin: 10px 0px;
	padding: 10px;
	white-space: pre-wrap;
}

.content::-webkit-scrollbar {
	width: 10px;
}

.content::-webkit-scrollbar-thumb{
	background-color: darkolivegreen;
	border-radius: 10px;
}

.content::-webkit-scrollbar-track{
	background-color: #212121;
}

#like, #dislike{
	width: 20%;
	text-align: center;

}

.likebtn, .dislikebtn{
	border: none;
	background-color: #212121;
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#likebtn2:hover{
	color: #3498db;
}

#dislikebtn2:hover{
	color: #f1c40f;
}

#report{
	width: 60%;
	text-align: right;
}

.reportbtn{
	border: none;
	background-color: #212121;
	color: white;
	font-size: small;
}

#reportbtn2:hover{
	color: red;
}

#contentedit{
	border: 2px solid yellow;
	display: flex;
	flex-direction: row;
	width: 100%;
}

#modifycheck{
	width: 7%;
	text-align: center;
}

#modifyreturn{
	width: 7%;
	text-align: center;
}

#modify{
	width: 93%;
	margin: 0px;
	text-align: right;
}

#delete{
	width: 7%;
	text-align: center;
	margin: 0px;
}

.modifycheckbtn, .modifyreturnbtn, .modifybtn, .deletebtn{
	background-color: #212121;
	height: 3px;
	color: white;
}

#form-switch{
	width: 40%;	
}
#submitbtn{
	height: 40px;
	font-size: 18px;
}
#modaltext{
	color: black;
}

#pag{
	margin: 50px auto;
	text-align: center;
}

#paging{
	display: inline-block;
}
