@charset "UTF-8";

#personinfotop{
    width: 1300px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #212121;
    color: white;
}

#personinfo>ul{
	list-style: none;
	color: white;
    margin-top: 75px;
}

#personinfo>ul>li{
	margin: 10px;
}

#personpic{
	margin: 15px 0px;
	margin-left: 150px;
}

.pinfo{
	font-size: large;
	font-weight: 500;
}

.pname{
	font-size: x-large;
	font-weight: 600;
}

hr{
	color: lightgray; 
	margin: 0px auto;
}

#personinfobottom{
    width: 1300px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212121;
    color: white;
}

#personfilmo{
    width: 800px;
}

.subtitle2{
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}

.subtitle2>h5{
	display: inline-block;
}

#personfilmo>.posterandname{
	margin: 20px 0px;
	display: inline-block;
}

#personfilmo>.posterandname>ul{
	list-style: none;
	color: white;
}

#relatedperson{
    width: 480px;
}

#relatedperson>.pictureandname{
	display: inline-block;
}

#relatedperson>.pictureandname>ul{
	list-style: none;
	color: white;
    margin-top: 20px;
}
#personfilmo>.posterandname>ul li, #relatedperson>.pictureandname>ul li{
	text-align: center;
	margin-top: 5px;
}

#relatedperson>.pictureandname>ul>li img{
	border-radius: 50%;
}

p{
	margin-top: 30px;
	margin-left: 30px;
}

#moviename{
	max-width: 115px;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	text-align: center;	
}

#poster{
	length: 165px;
}

#pag{
	margin: 50px auto;
	text-align: center;
}

#paging{
	display: inline-block;
}

.page-item.disabled .page-link, .page-link{
	color: white;
	background-color: #212121;
	border-color: #bebebe;
	font-weight: 600;
}

a.page-link:hover{
	color: white;
	background-color: gold;
}

.page-item.active .page-link{
	color: white;
	background-color: gold;
	border-color: #bebebe;
	font-weight: 600;
}

#peoplename{
	max-width: 113px;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	text-align: center;	
}