@charset "UTF-8";

#repotrwrap{
	display: flex;
	justify-content: center;
    margin: 0px auto;
    color: white;
}
#repotrwrap table{
	margin-top: 30px;
}
th, td{
    border: 1px solid;
    padding: 3px 35px;
}

th{
	color: gold;
}

.reportno, .contentno, .reportsize{
    text-align: center;
}

/* 페이징 */
#paging{
	display: flex;
	justify-content: center;
}
 