@charset "UTF-8";

#repotrwrap{
	display: flex;
	justify-content: center;
    margin: 0px auto;
    color: white;
}
.container{
	width: 60%;
	text-shadow: 3px 3px 3px black;
}
#repotrwrap table{
	margin-top: 30px;
}
th, td{
    border: 1px solid;
    padding: 3px 35px;
}

th{
	color: gold;
	text-align: center;
}
#headT1{
    width: 100px;
}
#headT2{
    width: 200px;
}
#headT3{
    width: 250px;
}
#headT4{
    width: 150px;
}
td{
	color: white;
}

.reportno, .contentno, .reportsize{
    text-align: center;
}
.reportContent{
	cursor: pointer;
}



#blankT{
	border-left: none;
}

#btnT{
	border-top: none;
	border-right: none;
	border-bottom: none;
    width: 50px;
}

#headT{
	border-top: none;
	border-right: none;
	border-bottom: none;
	width: 50px;
}
.deleteBtn{
	background-color: #212121;
	border: none;
	color: white;
    font-size: 17px;
    font-weight: 600;
}
 
/* 페이징 */
#paging{
	display: flex;
	justify-content: center;
    margin-top: 20px;
}

.page-item.disabled .page-link, .page-link{
	color: white;
	background-color: #212121;
	border-color: #bebebe;
	font-weight: 600;
}

a.page-link:hover{
	color: white;
	background-color: gold;
}

.page-item.active .page-link{
	color: white;
	background-color: gold;
	border-color: #bebebe;
	font-weight: 600;
}