@charset "UTF-8";

section{
    width: 1100px;
    margin: 0px auto;
    padding-top: 50px;
}

#allreview{
    color: white;
}

#contentslist{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   list-style: none;
   padding-left: 0;
}
#contents{
   background-color: #2f2f2f;
   border-radius : 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   width: 40%;
   margin: 20px 0px;
   font-size: 18px;
   padding: 0px 15px;
   box-shadow: 5px 5px 5px black;
}


.content{
   width: 100%;
   height: 200px;
   overflow-y: scroll;
   padding-right: 10px;
   white-space: pre-wrap;
   border: 2px solid #434343;
}
.content2{
   width: 100%;
   height: 200px;
   overflow-y: scroll;
   padding-right: 10px;
   white-space: pre-wrap;
   border: 2px solid #434343;

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.content3{
   width: 100%;
   height: 200px;
   overflow-y: scroll;
   padding-right: 10px;
   white-space: pre-wrap;
   border: 2px solid #434343;
}
.content::-webkit-scrollbar {
   width: 5px;
}
.content::-webkit-scrollbar-thumb{
   background-color: #ffffff;
   border-radius: 10px;
}
.content::-webkit-scrollbar-track{
   background-color: #2f2f2f;
}
.content2::-webkit-scrollbar {
   width: 5px;
}
.content2::-webkit-scrollbar-thumb{
   background-color: #ffffff;
   border-radius: 10px;
}
.content2::-webkit-scrollbar-track{
   background-color: #2f2f2f;
}

.content3::-webkit-scrollbar {
   width: 5px;
}
.content3::-webkit-scrollbar-thumb{
   background-color: #ffffff;
   border-radius: 10px;
}
.content3::-webkit-scrollbar-track{
   background-color: #2f2f2f;
}

.spoilerbtn{
	outline: 0;
	border: 0;
	/* border-radius: 10px; */
	background-color: #2f2f2f;
	color: orange;
	/* border: 1px solid #ff0558; */
	height: 30px;
	text-shadow: 3px 3px 3px black;
}
#id{
   width: 80%;
   padding: 1px;
}
#date{
   width: 100%;
   text-align: right;
   padding: 0px;
   border-top : 1px solid #434343;
}
#like, #dislike{
   width: 20%;
   text-align: center;
   padding: 7px 0px;
}

.likebtn, .dislikebtn{
   border: none;
   background-color: #2f2f2f;
   color: white;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}
#likebtn2{
   color: #3498db;
   text-shadow: 1px 1px 1px black;
}
#dislikebtn2{
   color: #f1c40f;
   text-shadow: 1px 1px 1px black;
}
#report{
   width: 60%;
   text-align: right;
   padding: 5px 0px;
}
.reportbtn{
   border: none;
   background-color: #2f2f2f;
   color: white;
   font-size: small;
}
#reportbtn2{
   color: red;
   text-shadow: 1px 1px 1px black;
}

#contentedit{
   display: flex;
   flex-direction: row;
   width: 20%;
   padding-right: 15px;
}
#editicon{
	color: #434343;
}
#editicon:hover{
	color: #238636;
}
#deleteicon{
	color: #434343;
}
#deleteicon:hover{
	color: white;
}

#modify{
   width: 93%;
   margin: 0px;
   text-align: right;
}
#delete{
   width: 7%;
   text-align: center;
   margin: 0px;
}
.modifybtn, .deletebtn{
   border: 0;
   outline: 0;
   background-color: #2f2f2f;
   margin: 0px 4px;
   color: white;
}


/* 페이징 */
#paging{
   display: flex;
   justify-content: center;
}
.page-item.disabled .page-link, .page-link{
   color: white;
   background-color: #212121;
   border-color: #bebebe;
   font-weight: 600;
}

a.page-link:hover{
   color: white;
   background-color: gold;
}

.page-item.active .page-link{
   color: white;
   background-color: gold;
   border-color: #bebebe;
   font-weight: 600;
}
.modal-footer{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#modalbtn{
	color: white;
}