@charset "UTF-8";

section{
    /* border: 2px solid orange; */
    width: 1300px;
    margin: 0px auto;
    padding-top: 50px;
}

#allreview{
	/* border: 2px solid red; */
/*     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
    color: white;
}

#contentslist{
	/* border: 2px solid green; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style: none;
	padding-left: 0;
}
#contents{
	border: 2px solid orange;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 40%;
	margin: 20px 0px;
	font-size: 18px;
}

#id, #date, .content, #like, #dislike, #report{
	/* border: 2px solid yellow; */
}

/* #content{
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: 10px 0px;
} */
.content{
	width: 100%;
	height: 200px;
	overflow-y: scroll;
	margin: 10px 0px;
	padding-right: 10px;
	white-space: pre-wrap;
	border-bottom: 2px solid orange;
	border-top: 2px solid orange;
}
.content::-webkit-scrollbar {
	width: 10px;
}
.content::-webkit-scrollbar-thumb{
	background-color: darkolivegreen;
	border-radius: 10px;
}
.#content::-webkit-scrollbar-track{
	background-color: #212121;
}
#id{
	width: 70%;
}
#date{
	width: 30%;
	text-align: right;
}
#like, #dislike{
	width: 20%;
	text-align: center;
}

.likebtn, .dislikebtn{
	border: none;
	background-color: #212121;
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#likebtn2:hover{
	color: #3498db;
}
#dislikebtn2:hover{
	color: #f1c40f;
}
#report{
	width: 60%;
	text-align: right;
}
.reportbtn{
	border: none;
	background-color: #212121;
	color: white;
	font-size: small;
}
#reportbtn2:hover{
	color: red;
}

#contentedit{
	border: 2px solid green;
	display: flex;
	flex-direction: row;
	width: 100%;
}
#modifycheck{
	width: 7%;
	border: 1px solid red;
	text-align: center;
}
#modifyreturn{
	width: 7%;
	border: 1px solid red;
	text-align: center;
}

#modify{
	width: 93%;
	margin: 0px;
	text-align: right;
	border: 1px solid red;
}
#delete{
	width: 7%;
	text-align: center;
	border: 1px solid red;
	margin: 0px;
}



/* 글쓰기 버튼 */
/* #writebtn{
	border: 1px solid green;
	display: flex;
	justify-content: flex-end;
	width: 87%;
	margin: 0px auto;
} */

/* 페이징 */
#paging{
	display: flex;
	justify-content: center;
}
