@charset "UTF-8";


/* 리뷰 게시판*/
#bestreviewbtn{	/* 베스트 리뷰 버튼 */
	margin: 30px 50px;
}
#generalreviewbtn{	/* 일반 리뷰 버튼 */
	margin: 30px 50px;
}
#bestsection{	/* 베스트 리뷰 */
    border: 2px solid orange;
    width: 1300px;
    margin: 0px auto;
}
#generalsection{	/* 일반 리뷰 */
    border: 2px solid red;
    width: 1300px;
    margin: 0px auto;
}

/* 리뷰 테이블 정렬 */
.bestreview{
	border: 2px solid purple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    width: 90%;
    margin: 0px auto;
}
.generalreview{
	border: 2px solid purple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    width: 90%;
    margin: 0px auto;
}
#contentslist{
	border: 2px solid green;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
}
#contents{
	border: 2px solid blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 40%;
	margin: 20px 0px;
}

#id, #date, #content, #like, #dislike, #report{
	border: 2px solid yellow;
}

#content{
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: 10px 0px;
}
#id{
	width: 70%;
}
#date{
	width: 30%;
	text-align: right;
}
#like, #dislike{
	width: 20%;
	text-align: center;
}
#report{
	width: 60%;
	text-align: right;
}



/* 리뷰 쓰기 */
#writereview{
    border: 2px solid red;
    width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    color: white;
}
.form-label{
    border: 2px solid yellow;
}
#form-switch{
    border: 2px solid red;
    display: inline-block;
    margin-left: 570px;
}

