@charset "UTF-8";

section{
    border: 2px solid orange;
    width: 1300px;
    margin: 0px auto;
}

#allreview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/*
.allreviewtable{
    border: 1px solid blue;
    width: 90%;
    margin: 15px 30px;
}
*/

#date{
    text-align: right;
}
#report{
    text-align: right;
}
#content{
	text-align: left;
}
table{
 	border: 1px solid blue;
 	width: 90%;
 	margin: 15px 30px;
 }
tr td{
	height: 20px;
}
tr td{
 	border: 1px solid black;
 	text-align: center;
 }
tr th{
 	border: 1px solid black;
 	text-align: center;
 }