@charset "UTF-8";


/* 리뷰 게시판*/
#bestreviewbtn{	/* 베스트 리뷰 버튼 */
	margin: 20px 50px;
	color: white;
}
#generalreviewbtn{	/* 일반 리뷰 버튼 */
	margin: 20px 50px;
	color: white;
}
#bestsection{	/* 베스트 리뷰 */
    border: 2px solid orange;
    width: 1300px;
    margin: 0px auto;
    font-size: 18px;
}
#generalsection{	/* 일반 리뷰 */
    border: 2px solid red;
    width: 1300px;
    margin: 0px auto;
    font-size: 18px;
}

/* 리뷰 테이블 정렬 */
.bestreview{
	border: 2px solid purple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    width: 90%;
    margin: 0px auto;
}
.generalreview{
	border: 2px solid purple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    width: 90%;
    margin: 0px auto;
}
#contentslist{
	border: 2px solid green;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	padding-left: 0;
	width: 100%;
}

#contents{
	border: 2px solid blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 40%;
	margin: 20px 0px;
}

#id, #date, .content, #like, #dislike, #report{
	border: 2px solid yellow;
}

#id{
	width: 70%;
}
#date{
	width: 30%;
	text-align: right;
}
.content{
	width: 100%;
	height: 200px;
	overflow-y: scroll;
	margin: 10px 0px;
	padding-right: 10px;
	white-space: pre-wrap;
}
.content::-webkit-scrollbar {
	width: 10px;
}
.content::-webkit-scrollbar-thumb{
	background-color: darkolivegreen;
	border-radius: 10px;
}
.content::-webkit-scrollbar-track{
	background-color: #212121;
}

#like, #dislike{
	width: 20%;
	text-align: center;

}
.likebtn, .dislikebtn{
	border: none;
	background-color: #212121;
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#likebtn2:hover{
	color: #3498db;
}
#dislikebtn2:hover{
	color: #f1c40f;
}
#report{
	width: 60%;
	text-align: right;
}
.reportbtn{
	border: none;
	background-color: #212121;
	color: white;
	font-size: small;
}
#reportbtn2:hover{
	color: red;
}

#contentedit{
	border: 2px solid green;
	display: flex;
	flex-direction: row;
	width: 100%;
}
#modifycheck{
	width: 7%;
	border: 1px solid red;
	text-align: center;
}
#modifyreturn{
	width: 7%;
	border: 1px solid red;
	text-align: center;
}

#modify{
	width: 93%;
	margin: 0px;
	text-align: right;
	border: 1px solid red;
}
#delete{
	width: 7%;
	text-align: center;
	border: 1px solid red;
	margin: 0px;
}
.modifycheckbtn, .modifyreturnbtn, .modifybtn, .deletebtn{
	background-color: #212121;
	height: 3px;
	color: black;
}


/* 모든 리뷰 보기 버튼*/
#reviewallbtn{
	display: flex;
	justify-content: center;
	font-size: 20px;
	margin-bottom: 30px;
}

/* 리뷰 쓰기 */
#writereview{
    border: 2px solid red;
    width: 1300px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    color: white;
}
#writereview2{
	
}
.form-label{
    border: 2px solid yellow;
}
#form-switch{
	border: 2px solid green;
	width: 40%;	
}
#submitbtn{
	height: 40px;
	font-size: 18px;
}
#modaltext{
	color: black;
}


