@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
ul li{
	list-style: none;
}

#boardWrap {
	width: 1300px;
    margin: 0px auto;
    position: relative;
    bottom: 20px;
}
h1{
	/* margin-top: 20px; */
}
.poster{
	width: 180px;
	height: 250px;
	display: inline-block;
	vertical-align: top;
}

div img{
	width: 180;
	height: 250px;
}

.movieInfo{
	margin-left: 20px;
	display: inline-block;
}

.movieInfo p{
	margin-top: 10px;
	font-size: 20px;
	font-weight: bolder;
}