@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}
ul li{
	list-style: none;
}

#boardWrap {
	width: 60%;
    margin: 0px auto;
    text-align: left;
    color: white;
}
.listsection{
	cursor: pointer;
}
.resultCount{
	font-size: 20px;
    margin-top: 60px;
    margin-left: 15px;
    margin-bottom: auto;
    font-weight: 600;
}

.totalCount{
	font-size: 15px;
}


.poster{
	width: 150px;
	height: 200px;
}

.movieList{
	margin-left: 20px;
}

.movieList>img, .movieList>div{
	display: inline-block;
	
}
.movieList>div{
	margin-left: 30px;
	text-align: left;
	position: relative;
    top: 32px;
}
.movieNm{
	font-size: 25px;
	font-weight: bolder;
}
.movieInfo{
	font-size: 17px;
    font-weight: 600;
}
hr{
	width: 100%;
	align-self: center;
}

/* 페이징 */
#paging{
	display: flex;
	justify-content: center;
}

.page-item.disabled .page-link, .page-link{
	color: white;
	background-color: #212121;
	border-color: #bebebe;
	font-weight: 600;
}

a.page-link:hover{
	color: white;
	background-color: gold;
}

.page-item.active .page-link{
	color: white;
	background-color: gold;
	border-color: #bebebe;
	font-weight: 600;
}