@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	background-color: #212121;
	
}
ul li{
	list-style: none;
}

#boardWrap {
	width: 1300px;
    margin: 0px auto;
    position: relative;
    color: white;
}
#boardWrap p{
	font-size: 20px;
}
.poster{
	width: 180px;
	height: 250px;
	display: inline-block;
	vertical-align: top;
}

#poster{
	width: 180;
	height: 250px;
}

.movieInfo{
	margin-left: 20px;
	display: inline-block;
}

.movieInfo p{
	margin-top: 10px;
	font-size: 20px;
	font-weight: bolder;
}

hr{
	width: 1000px;
	align-self: center;
}