@charset "UTF-8";

#myBtn{
	color: blue;
}

#subtitle{
	margin-top: 100px;
	text-align: center;
	color: white;
}

#user_info{
	background-color: #151515;
	width: 1300px;
	margin: 0px auto;
	margin-top: 80px;
	color: white;
	text-align: center;	
}

#user_info>form>ul>li{
	list-style: none;
	margin-top: 30px;
}

#user_info>form>ul>li>div{
	display: inline-block;
}

.first{
	margin-top: 30px;	
}

.label{
	width: 60px;
	text-align: right;
}

.input{
	margin-left: 20px;
}

.input>input{
	color: white;
	background-color: #212121;
	box-shadow: none;
	border: 0px;
	padding: 5px;
}

.linkbtn{
	margin-top: 10px;
	margin-bottom: 30px;
}

.linkbtn>btn{
	padding: 0px 30px;
	border: 0px;
	outline: 0px;
}

#usermodify, #userdel{
	width: 110px;
	height: 30px;
}
