@charset "UTF-8";

body{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* 리뷰 게시판*/
#bestforumbtn{	/* 베스트 리뷰 버튼 */
	margin: 20px 10px;
	color: white;
}
#bestNworst{	/* 베스트 리뷰 */
    /* border: 2px solid orange; */
    margin: 0px auto;
    font-size: 18px;
    display: flex;
}

/* 리뷰 테이블 정렬 */
.forumList{
	/* border: 2px solid purple; */
    display: inline-block;
    color: white;
    width: 460px;
    margin: 0px auto;
}

#forum_contentslist{
	/* border: 2px solid green; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	padding-left: 0;
	width: 450px;
}

.forum_contents{
	/* border: 2px solid blue; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 400px;
	margin: 20px 0px;
	border-radius : 20px;
   	background-color: #2f2f2f;
    padding: 0px 15px;
   
}
.forumImg{
	width:380px;
	height: 200px;
	cursor: pointer;
}
.title{
	width: 100%;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.user_id, .content_date{
	display: inline-block;
}

.user_id{
	width: 70%;
}
.content_date{
	width: 30%;
	text-align: right;
}
.forum_content{
	width: 100%;
    height: 110px;
	margin: 10px 0px;
	padding-right: 10px;
	white-space: pre-wrap;
    border: 2px solid #434343;
    overflow: hidden;
    white-space: pre-wrap;
}
/* .content::-webkit-scrollbar {
	width: 10px;
}
.content::-webkit-scrollbar-thumb{
	background-color: darkolivegreen;
	border-radius: 10px;
}
.content::-webkit-scrollbar-track{
	background-color: #212121;
} */

#forum_like, #forum_dislike{
	width: 20%;
	text-align: center;

}
.forum_likebtn, .forum_dislikebtn{
	border: none;
	background-color: #2f2f2f;
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#forum_likebtn2{
	color: #3498db;
}
#forum_dislikebtn2{
	color: #f1c40f;
}
#forum_report{
	width: 60%;
	text-align: right;
}
.forum_reportbtn{
	border: none;
	background-color: #2f2f2f;
	color: white;
	font-size: small;
}
#forum_reportbtn2{
	color: red;
}

/* 모든 리뷰 보기 버튼*/
#userforumall{
   display: flex;
   justify-content: center;
   font-size: 20px;
   margin-bottom: 30px;
}
#userforumallbtn{
    position: relative;
    top: 15px;
	text-decoration: none;
	border-radius : 10px;
	padding: 5px;
	border: 2px solid #ff0558;
	color: #ff0558;
}

#writebtn{
    display: flex;
    justify-content: end;
}

#writebtn a{
	background-color: #212121;
    color: #ff0558;
    font-weight: 600;
    font-size: 18px;
    width: 85px;
    margin: 3px;
    border-radius: 10px;
    border: 1px solid white;
    opacity: 0.8;
}
.updown {
    	border: 0.1px dotted white;
        width: 0.1px;
    	opacity: 0.2;
        
}

