@charset "UTF-8";

#ufsection{
    /* border: 2px solid orange; */
    width: 1300px;
    margin: 0px auto;
}

#userforumwrap{
	/* border: 2px solid blue; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0px auto;
	width: 60%;
	color: white;
}

/* 게시판 헤더 */
#listhead{
	margin-top: 30px;
}
#listhead div{
	display: inline-block;
}
#titleNcontent{
	width: 65%;
}

#writedate{
	float: right;
}
#user_id{
	float: right;
    position: relative;
    right: 10px;
}

/* 게시판 게시물 */
#userforumboard{
	list-style: none;
	width: 100%;
	padding-left: 0;
}

#userforumlist{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 8px 0px;
	margin-bottom: 30px;
}

/* 글쓰기 버튼 */
#writebtn{
    position: relative;
    left: 600px;
}

#writebtn a{
	background-color: #212121;
    color: #ff0558;
    font-weight: 600;
    font-size: 18px;
    width: 80px;
    margin: 3px;
    border-radius: 10px;
    border: 1px solid white;
    opacity: 0.8;
}

/* 페이징 */
#paging{
	display: flex;
	justify-content: center;
}
.forum_list_img{
    width: 100px;
    height: 80px;
    cursor: pointer;
}

/* 좋아요, 싫어요, 신고 버튼  */
 #forum_like, #forum_dislike{
	width: 20%;
	text-align: center;

}
#forum_likebtn2{
	color: #3498db;
}
#forum_dislikebtn2{
	color: #f1c40f;
}

.forum_likebtn, .forum_dislikebtn, .forum_reportbtn{
	border: none;
	background-color: #212121;
	color: white;
	font-size: small;
    height: 30px;
    width: 60px;
}
#forum_reportbtn2{
	color: red;
}
.fucntionBtn{
	border: none;
	background-color: #212121;
	color: white;
	display: inline-block;
}

#functionBtns{
	display: flex;
    place-items: flex-end;
}