@charset "UTF-8";

#subtitle{
	margin-top: 100px;
	text-align: center;
	color: white;
}

#userjoinform{
	background-color: #151515;
	width: 1300px;
	margin: 0px auto;
	margin-top: 80px;
	color: white;
	text-align: center;	
}

#submitform>ul>li{
	list-style: none;
	margin-top: 30px;
}

#submitform>ul>li>div{
	display: inline-block;
}

.label{
	width: 100px;
	text-align: right;
}

.input{
	margin-left: 20px;
}

.first{
	margin-top: 40px;
}

div.first.label{
	margin-left: 90px;
}

#check{
	margin-left: 20px;
}

.input>input{
	color: white;
	background-color: #212121;
	box-shadow: none;
	border: 0px;
	padding: 5px;
}

/* 글씨색 */
input::-webkit-datetime-edit{
	color:gray;
}

input::-webkit-datetime-edit-day-field:focus, input::-webkit-datetime-edit-month-field:focus, input::-webkit-datetime-edit-year-field:focus{
    background-color: white;
    color: gray;
    outline: none;
}

/* 아이콘 색 */
input[type="date"]::-webkit-calendar-picker-indicator{ 
 	filter: invert(0.5);
} 

.loginbtn{
	padding-bottom: 30px;
}

.button{
	color: black;
	background-color: white;
 	width: 70px;
	height: 33px;
}