@charset "UTF-8";

#ufsection{
    /* border: 2px solid orange; */
    width: 1300px;
    margin: 0px auto;
}

#userforumwrap{
	/* border: 2px solid blue; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0px auto;
	width: 60%;
	color: white;
}

#subtitle{
    margin-top: 100px;
    width: 100%;
    text-align: center;
    color: white;
}
#subtitle h3{
	font-weight: 600;
    text-shadow: 3px 3px 3px black;
}
/* 게시판 헤더 */
#listhead{
	margin-top: 30px;
}
#listhead div{
	display: inline-block;
}
#titleNcontent{
	width: 75%;
	margin-left: 20px;
}
#title{
	font-weight: 600;
    font-size: 18px;
}
#content{
    height: 100px;
    overflow: hidden;
    white-space: pre-wrap;
}
#writedate{
	float: right;
}
#user_id{
	float: right;
    position: relative;
    right: 10px;
}

/* 게시판 게시물 */
#userforumboard{
	list-style: none;
	width: 100%;
	padding-left: 0;
}

#userforumlist{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 8px 0px;
	margin-bottom: 30px;
    cursor: pointer;
}

/* 글쓰기 버튼 */
#writebtn{
    width: 100%;
    text-align: end;
}

#writebtn a{
	background-color: #212121;
    color: gold;
    font-weight: 600;
    font-size: 18px;
    width: 80px;
    margin: 3px;
    border-radius: 10px;
    border: 2px solid gold;
    box-shadow: 3px 3px 3px black;
    text-shadow: 3px 3px 3px black;
}


.forum_list_img, #img_section{
    width: 150px;
    height: 120px;
    cursor: pointer;
}

/* 좋아요, 싫어요, 신고 버튼  */
 #forum_like, #forum_dislike{
	width: 20%;
	text-align: center;

}
#forum_likebtn2{
	color: #3498db;
    text-shadow: 1px 1px 1px black;
}
#forum_dislikebtn2{
	color: #f1c40f;
    text-shadow: 1px 1px 1px black;
}

.forum_likebtn, .forum_dislikebtn, .forum_reportbtn{
	border: none;
	background-color: #212121;
	color: white;
	font-size: small;
    height: 30px;
}

.forum_reportbtn{
    position: relative;
    bottom: 3px;
}
#forum_reportbtn2{
	color: red;
	position: relative;
   	top: 3px;
    text-shadow: 1px 1px 1px black;
}
.fa-flag:before {
    color: red;
}
.fucntionBtn{
	border: none;
	background-color: #212121;
	color: white;
	display: inline-block;
    width: 45px;
}

#functionBtns{
    width: 100%;
    text-align: end;
}
#findBar{
	width: 100%;
	text-align: end;
    margin-bottom: 20px;
	
}
.fucntionBtn button{
	display: flex;
}

/* 페이징 */
#paging{
	display: flex;
	justify-content: center;
}

.page-item.disabled .page-link, .page-link{
	color: white;
	background-color: #212121;
	border-color: #bebebe;
	font-weight: 600;
}

a.page-link:hover{
	color: white;
	background-color: gold;
}

.page-item.active .page-link{
	color: white;
	background-color: gold;
	border-color: #bebebe;
	font-weight: 600;
}