@charset "UTF-8";

#subtitle{
	margin-top: 100px;
	text-align: center;
	color: white;
}

#loginform{
	background-color: #151515;
	width: 1300px;
	margin: 0px auto;
	margin-top: 80px;
	color: white;
	text-align: center;	
}

#FormLogin>ul>li{
	list-style: none;
	margin-top: 30px;
}

#FormLogin>ul>li>div{
	display: inline-block;
}

.first{
	margin-top: 30px;	
}

.label{
	width: 100px;
	text-align: right;
}

.input{
	margin-left: 20px;
}

.input>input{
	color: white;
	background-color: #212121;
	box-shadow: none;
	border: 0px;
	padding: 5px;
}

.loginbtn{
	padding-bottom: 30px;
}

.button{
	color: gold;
	background-color: rgba(0,0,0,0);
	border: 0;
	border: 2px solid gold;
	border-radius: 5px;
	padding-bottom: 2px;
 	width: 70px;
	height: 33px;
	box-shadow: 3px 3px 3px black;
}