@charset "UTF-8";

#modifyform{
	width: 40%;
    margin: 0px auto;
    color: white;
}

.modify_title{
    width: 500px;
}
#modify_title label, #modify_content label{
	font-size: 23px;
}
.modify_content{
	width: 500px;
	height: 400px;
}

#submitBtn{
	/* border: 2px solid red; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.submitBtn{
	background-color: #212121;
    color: #ff0558;
    font-weight: 600;
    font-size: 20px;
    width: 80px;
    margin: 3px;
    border-radius: 10px;
    border: 1px solid white;
    opacity: 0.8;
}

#modify_img{
	width:380px;
	height: 200px;
}