@charset "UTF-8";

section{
    width: 1300px;
    margin: 0px auto;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    color: white;
}
article{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 70%;
}

#head{
	margin-top: 100px;
	width: 100%;
}
#title{
	width: 100%;
	font-weight: 600;
}
#titleUnderbar{
	opacity: 0.5;
}
#edit{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}
#id{
    font-weight: 600;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}

#body{
	margin: 20px 0px;
	width: 100%;
}
.forumImg{
    display: flex;
	justify-content: center;
}
.detail_img{
    width: 500px;
	height: 300px;
    margin-bottom: 20px;
}

#content{
	font-size: 18px;
}
#content::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
#content::-webkit-scrollbar-thumb{
	background-color: darkolivegreen;
	border-radius: 10px;
}
#content::-webkit-scrollbar-track{
	background-color: #212121;
}

#thumb{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50%;	
}
#like{
	margin-right: 20px;	
}

/* 수정, 삭제, 목록 버튼 */
.boardBtn{
	background-color: #212121;
    color: gold;
    font-weight: 600;
    font-size: 20px;
    width: 80px;
    margin: 3px;
    border-radius: 10px;
    border: 2px solid gold;
    box-shadow: 3px 3px 3px black;\
    text-shadow: 3px 3px 3px black;
}

#reply{
	height: 300px;
	margin-top: 30px;
	width: 100%;
	
}
/* 좋아요, 싫어요, 신고 버튼  */
 #forum_like, #forum_dislike{
	width: 20%;
	text-align: center;

}
#forum_likebtn2{
	color: #3498db;
	text-shadow: 1px 1px 1px black;
}
#forum_dislikebtn2{
	color: #f1c40f;
	text-shadow: 1px 1px 1px black;
}
#forum_reportbtn{
	background-color: #2f2f2f;
}
.forum_likebtn, .forum_dislikebtn, .forum_reportbtn{
	border: none;
	background-color: #212121;
	color: white;
	font-size: small;
    height: 30px;
    width: 60px;
}

#forum_reportbtn2{
	color: red;
	position: relative;
   	top: 3px;
}

.fa-flag:before {
    color: red;
    text-shadow: 1px 1px 1px black;
}
#fucntionBtn{
	display: flex;
	justify-content: flex-end;
}
.fucntionBtn{
	border: none;
	background-color: #212121;
	color: white;
    width: 45px;
}

.fucntionBtn button{
	display: flex;
}